In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

#setup
import os, sys
current_path = os.path.abspath('')
parent_path = os.path.dirname(current_path)
source_path = f'{parent_path}\\src'
if not source_path in sys.path: sys.path.append(source_path)

#customs
# from data_model import *
# from data_helper import *
from config import *
setup()

Config finished!

In [2]:
df = pd.read_csv('./data/Exalted Orb.csv', index_col='Date', parse_dates=True)
df.head()

               Value   League  Confidence
Date
2016-09-08  64.00417  Essence           0
2016-09-09  64.51451  Essence           0
2016-09-10  65.00280  Essence           0
2016-09-11  65.05764  Essence           0
2016-09-12  65.98811  Essence           0

In [3]:
df['LeagueDay'] = (df.groupby('League').cumcount() + 1).astype(np.float64)
df.head()

               Value   League  Confidence  LeagueDay
Date
2016-09-08  64.00417  Essence           0        1.0
2016-09-09  64.51451  Essence           0        2.0
2016-09-10  65.00280  Essence           0        3.0
2016-09-11  65.05764  Essence           0        4.0
2016-09-12  65.98811  Essence           0        5.0

In [4]:
df['LeagueDay'].unique()

array([  1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.,
        12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,  22.,
        23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,  33.,
        34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,  44.,
        45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,
        56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,  66.,
        67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,  77.,
        78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,  88.,
        89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,  99.,
       100., 101., 102., 103., 104., 105., 106., 107., 108., 109., 110.,
       111., 112., 113., 114., 115., 116., 117., 118., 119., 120., 121.,
       122., 123., 124., 125., 126., 127., 128., 129., 130., 131., 132.,
       133., 134., 135., 136., 137., 138., 139., 140., 141., 142., 143.,
       144., 145., 146., 147., 148., 149., 150., 151.])

In [5]:
df.reset_index().to_csv('./data/V1.ExaltedOrb.csv', index=False)